	<aside class="{{ if .IsHome }}home-page__latestPosts {{ else }} page__latestPosts  {{ end }}">

			<h3 class="init">LATEST POSTS</h3>
				<ul>
					{{ range .Site.Pages }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
			<div class="">
				++ the tags ++
				<ul class="tags">
  				{{ range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
   				<li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
  				{{ end }}
				</ul>
			</div>
			<div class="">
				++ the categories ++
				<ul>
					{{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
					<li>
						<a href="{{ .Permalink}}">{{ .Title}}</a>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</aside>
