/// A new style
@import 'vendor/normalize';
@import 'vendor/viewport-units';
@import 'vendor/include-media';

$font-size: 62.5%;
$font-family: sans-serif;

$breakpoints: (phone: 20em, tablet: 48em, desktop: 64em);

$base-text-color: #131313;
$base-line-height: 1.5;
$desktop-bg-color: #e3f3e3;
$smaller-bg-color: #f1f1f1;


html {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  @include media(">phone", "<=tablet") {
    background-color: $smaller-bg-color;
    //margin: auto 1em;
    //width: 90vw;
  }

  @include media('>desktop') {
    background-color: $desktop-bg-color;
    background-image: linear-gradient(-3deg, $desktop-bg-color 72%, $base-text-color 0);
    background-repeat: no-repeat;
    //margin: auto 7em;
  }

  color: $base-text-color;
  font-size: 1.6rem;
  line-height: $base-line-height;
}


.site {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $base-text-color;
    }
  }
  &__header {
    background: $base-text-color;
    background-image: linear-gradient(3deg, $base-text-color 88%, $desktop-bg-color 0);
    background-repeat: no-repeat;
    height: 9vh;
    padding: 1.6em;
    padding-left: 9vw;

    a {
      @include media('>desktop') {
        display: block;
        max-width: 45%;

        a:link,
        a:visited {
          color: $desktop-bg-color;
        }
      }

      @include media('<=desktop') {

      }

      @include responsive-font(4vw, 2em, 3.6em);
      color: $desktop-bg-color;
    }
  }

  &__title {

    a:link,
    a:visited {
      color: $desktop-bg-color;
      font-weight: 100;
      line-height: 1.1;
    }
  }
}

// header {
//   background: $base-text-color;
//   background-image: linear-gradient(3deg, $base-text-color 88%, $desktop-bg-color 0);
//   background-repeat: no-repeat;
//   height: 9vh;
//   padding: 1.6em;
//   padding-left: 9vw;
//
//   a {
//     @include media('>desktop') {
//       display: block;
//       max-width: 45%;
//
//       a:link,
//       a:visited {
//         color: $desktop-bg-color;
//       }
//     }
//
//     @include media('<=desktop') {
//
//     }
//
//     @include responsive-font(4vw, 2em, 3.6em);
//     color: $desktop-bg-color;
//   }
// }




main,
aside,
footer {
  margin: auto 9vw;
  width: 90vw;

///
/// Develop a mixin to account for screen width automatically and size the <p> accordingly
///
  p {
    @include media('>desktop') {
      max-width: 50%;
    }

    max-width: 75%;
  }
}

///
/// does work for the headlines.
///

main {
  //border-bottom: 1vh solid $base-text-color;

  h1 {
    font-weight: 300;
    margin-bottom: 0;

    &::before {
      background: $base-text-color;
      content: "";
      display: block;
      height: .25vh;
      margin-bottom: 0.45em;
      width: 6vh;
    }
  }

  h2 {
    font-weight: 100;
  }
  time {
    color: lighten($base-text-color, 50%);
    font-size: 0.75em;
  }
}

///
/// Aside Specific styles
///



aside {
  ul {
    list-style: none;
  }
}



///
/// Site Tags list(s)
///


.site-tagList {
  margin-bottom: 0;
  position: relative;
  top: 1.5em;


  li {
    display: inline-block;
    //font-size: 3em;
    list-style-type: none;

    a {
      color: $base-text-color;
      @include responsive-font(4vw, 3em);
      text-decoration: none;
    }
  }
}
